.canvas-wrapper {
  position: relative;
  border: 1px solid #eee;
  background: #fff;
  margin: 15px;
  border-radius: 6px;
  flex: 1;
  height: 1000px;
  width: 1200px;
}

.canvas-widget {
  width: 100%;
  height: 100%;
}
